#events_bar_search{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    width: 78vw;
    display: flex;
    flex-flow: row;
    height: 50px;
    margin-top: 75px;
    position: fixed;
    margin-left: 22vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    /* z-index: 3; */
}

.event_search_input{
    font-family: 'Raleway', sans-serif;
    height: 30px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

#events_search_title{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#search_button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    color:black;
    font-family: 'Raleway', sans-serif;
}

#search_button:hover{
    background-color: black;
    color:white;
    transition:1s;
}