@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');

#back_button{
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: none;
    color: black;
}

#send_req:hover{
    background-color: red;
}