@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;300;600&display=swap');

#edit_profile{
    /* background-color:cornflowerblue; */
    position: fixed;
    margin-top: 85px;
    width: 100vw;
    height: max-content;
    padding: 40px;
    /* overflow: hidden; */
}

#edit_profile_title{
    font-family: 'Raleway', sans-serif;
    /* background-color: crimson; */
    font-weight: 400;
}

#tp{
    padding-left: 15vw;
    margin-bottom: 30px;
}

#edit_profile_form{
    font-family: 'Raleway', sans-serif;
    /* background-color: indianred; */
    width: 90vw;
    padding-left: 25vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content:flex-start;
    /* align-items: center; */
}

.edit_info_text_field{
    font-family: 'Raleway', sans-serif;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid black;
}

#firstname, #lastname,#email,#gender,#drug,#devils, #social_media_link{
    width: 50%;
    margin-bottom: 10px;
}

#submit_button_div{
    margin-top: 30px;
    text-align: right;
    width: 41%;
    /* background-color: rebeccapurple; */
}

#submit_edits, #edit_profile_back_button{
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    color:black;
    height: 22px;
    font-family: 'Raleway', sans-serif;
}

#submit_edits:hover, #edit_profile_back_button:hover{
    color:white;
    background-color: black;
    transition: 1s;
}