/* #user_profile_things{} */

/* body{
    background-color: #faf3dd;
} */

#user_profile_things::-webkit-scrollbar {
    width: 0em;
    background-color: transparent;
    height:0.4em;
}

#user_profile_things::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 12px;
    width: 0em;
    height: 0em;
}

#user_profile_things::-webkit-scrollbar-thumb {
    background-color: #AAA;
    width: 0em;
    height: 0em;
    outline: 0px solid #555B6E;
    border-radius: 12px;
}

#user_profile_things {
    /* position:absolute; */
    /* margin-left: 20vw; */
    /* width: 60vw; */
    /* background-color: red; */
    overflow: scroll;
}