@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;300;600&display=swap');

.user_matches_items::-webkit-scrollbar {
    width: 0em;
    background-color: transparent;
    height:0em;
}

.user_matches_items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 12px;
    width: 0em;
    height: 0em;
}

.user_matches_items::-webkit-scrollbar-thumb {
    background-color: #AAA;
    width: 0em;
    height: 0em;
    outline: 0px solid #bee3db;
    border-radius: 12px;
}

#user_matches_container{
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 5vw;
    position: relative;
    height: 40vh;
    width: 65vw;
    /* justify-content: center; */
    border: 1px solid #bee3db;
    background-color: #bee3db;
    border-radius: 12px;
}

#user_matches_title{
    color:black;
    font-size: 22px;
    margin-left: 30px;
}

.user_matches_items{
    padding-top: 10px;
    margin-left: 2vw;
    overflow: scroll;
    /* background-color: red; */
    height: 250px;
    width: 62vw;
    display: flex;
    flex-flow: row;
    flex-wrap:wrap;
    /* align-items:; */
    text-align:left;
    /* line-height:2px; */
    
}

.user_match{
    /* background-color: purple; */
    display: flex;
    flex-flow: column;
    height: 150px;
    width: 430px;
    margin-bottom: 15px;
}

#match_info{
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* line-height: 3px; */
}

#match_img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}


#match_name{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:black;
    margin-left: 10px;
    margin-top: -1px;
}

#match_event_name{
    position: relative;
    margin-left: -160px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: -3px;
    font-weight: 300;
    color:black;
    font-size: 15px;
}

#match_event_date {
    position: relative;
    /* width: 190px; */
    margin-left: 75px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: 20px;
    margin-top: -80px;
    font-weight: 300;
    color:black;
    font-size: 15px;
}

#rmv_match_button{
    /* padding-top: 3px; */
    padding: 2px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 0.8px solid black;
    border-radius: 4px;
    width: 75px;
    height: 20px;
    text-align: center;
}

#rmv_match_button:hover {
    transition: 1s;
    background-color: #555B6E;
    color:white;
    /* border: 0.8px solid #ffa69e; */
}