@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;300;600&display=swap');

#user_info_container {
    position: fixed;
    margin-top: -80px;
    margin-left: 75vw;
    display: flex;
    flex-flow: column;
    position: absolute;
    height: 100vh;
    width: 25vw;
    background-color: #FAF3DD;
    border-left: 1px solid black;
    font-family: 'Raleway', sans-serif;
}

#profile_settings_button {
    width: 70px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 270px;
    margin-top: 15px;
}

#profile_logout_button {
    width: 70px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 1px solid #555B6E;
    background-color: #555B6E;
    color:white;
    border-radius: 5px;
    margin-left: 270px;
    margin-top: 5px;
}

.user_info_item {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    line-height: 0.2px;
}

#user_image {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

#user_name {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#user_about_heading {
    font-family: 'Raleway', sans-serif;
    margin-top: -25px;
    font-size: 23px;
    font-weight: 300;
    margin-left: 35px;
    color: black;
}

#user_info {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-top: 65px;
}

#user_gender, #user_drink_info, #user_devils_info, #user_drug_info, #user_bio{
    font-family: 'Raleway', sans-serif;
    line-height: 2px;
    font-size: 15px;
    font-weight: 300;
}
