@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;300;600&display=swap');

.events_container_items::-webkit-scrollbar {
    width: 0.4em;
    background-color: transparent;
    height:0.4em;
}

.events_container_items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    border-radius: 12px;
    width: 0em;
    height: 0em;
}

.events_container_items::-webkit-scrollbar-thumb {
    background-color: #AAA;
    width: 0em;
    height: 0em;
    outline: 0px solid #555B6E;
    border-radius: 12px;
}

#user_events_container {
    /* box-shadow: 0.2em 0 .2em gray;; */
    margin-top: 20px;
    margin-left: 5vw;
    position: relative;
    height: 40vh;
    width: 65vw;
    /* justify-content: center; */
    border: 1px solid black;
    background-color: white;
    border-radius: 12px;
}

#events_section_title {
    color:black;
    font-size: 22px;
    margin-left: 30px;
}

.events_container_items {
    padding-top: 10px;
    margin-left: 2vw;
    overflow: scroll;
    /* background-color: red; */
    height: 220px;
    width: 62vw;
    display: flex;
    flex-flow: row;
    flex-wrap:wrap;
    /* align-items:; */
    text-align:left;
    /* line-height:2px; */
    
}

.event_item{
    /* background-color: purple; */
    display: flex;
    flex-flow: column;
    height: 150px;
    width: 430px;
    margin-bottom: 15px;
}

#img_title{
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* line-height: 3px; */
}

#event_img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}

#event_name {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color:black;
    margin-left: 10px;
    margin-top: -1px;
}

#event_address {
    position: relative;
    margin-left: -160px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: -3px;
    font-weight: 300;
    color:black;
    font-size: 15px;
}

#event_date {
    position: relative;
    /* width: 190px; */
    margin-left: 75px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: 20px;
    margin-top: -80px;
    font-weight: 300;
    color:black;
    font-size: 15px;
}

#cancel_event_attendance {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 0.8px solid black;
    border-radius: 4px;
    height: 25px;
}
#cancel_event_attendance:hover {
    transition: 1s;
    background-color: #ffa69e;
    /* border: 0.8px solid #ffa69e; */
}
