@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;300;600&display=swap');

#user_info_container {
    margin-top: 20px;
    margin-left: 2vw;
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 52vh;
    width: 20vw;
    justify-content: center;
    background-color: #FAF3DD;
    border-radius: 12px;
    /* box-shadow: 0.2px 0.2px 2px 0.2px gray; */
    /* line-height: 1vh; */
}

.user_info_item {
    align-items: center;
    text-align: center;
    line-height: 0.2px;
}

#user_image {
    /* margin-top: 50px; */
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

#user_name {
    font-size: 25px;
}

#user_gender {
    font-size: 15px;
    font-weight: 300;
}
#user_drink_info {
    font-size: 15px;
    font-weight: 300;
}
#user_devils_info {
    font-size: 15px;
    font-weight: 300;
}
#user_drug_info {
    font-size: 15px;
    font-weight: 300;
}

#profile_settings_button {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: -170px;
    margin-top: 15px;
}